* {
  color: black;
}

.list-container {
  color: blue;
}
.carritoCompras {
  display: block;
}

h3 {
  text-align: center;
  font-size: var(--fuente-sub-titulo);
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.container .resumen {
  display: grid;
  align-items: start;
  place-content: center;
}
