:root{
   --color--principal : #c00000;
   --color--secundario : #810909;
   --color--fondo : #f5f5f5;
   --color--oscuro : #020202;
   --color--claro : #fffcff;
   --fuete-texto:20px;
   --fuete-titulo:40px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: var(--color--fondo);
    display: grid;
    color: var(--color--claro);
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:     "menu    menu    menu    menu    menu    menu"
                             "title    title    title    title    title    title"             
                             "info    info    info    info    info    info"             
                            "info    info    info    info    info    info"             
                            "info    info    info    info    info    info"             
                            "footer  footer  footer  footer  footer  footer";            
    
}
.menu-container{
    display: none;
    width: 100vw;
    height: 60px;
    background-color: var(--color--principal);
    grid-area: button;
    #menu-button-abrir{
        position: absolute;
        width: 40px;
        background-color: var(--color--principal);
        border: none;
        padding: 6px;
        img{
            width: 40px;
        }
    }
}
.nav-menu {
    grid-area: menu;
    padding: 0;
    margin: 0;

    .list-container{
        #menu-button-cerrar {
            display: none;
            img{
                position: absolute;
                right: 12px;
                top: 12px;
                    width: 40px;
            }
        }
    }
    .menu-container {
        display: none;
        width: 100%; 
        height: 80px;
        background-color: var(--color--principal);
    
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Se ajusta automáticamente */
        margin:  0 ;
        padding: 0 20px;
        height: 80px;
        background-color: var(--color--principal);
        overflow: hidden;
        
        li {
            display: grid;
            place-items: center;
            list-style: none;
            height: 100%;
            font-size: var(--fuete-texto);
            text-align: center;
            transition: transform 0.8s ease,
            background 800ms ease;

        }

        li:hover {
            transform: scale(1.25); 
            background: var(--color--secundario); 
        }
    }
   
       
}

.main-tittle {
    grid-area: title;
    color: var(--color--oscuro);
    h1{
        text-align: center;
    }

}

.info {
    grid-area: info;
    color: var(--color--oscuro);

}

.footer {
    grid-area: footer;
    align-self: self-end;
    .footer-container{
        background-color: var(--color--principal);
        display: flex;
        justify-content: space-between;
        align-items: center;
        place-content: center;
        .redes{
            padding: 12px;
            img{
                margin:0  12px;
                width: 32px;
                transition: transform 0.8s ease;
            }
            img:hover{
                transform: scale(1.25); 
                color: var(--color--secundario);
            }
        }
    }
}

@media (max-width: 720px) {
    body{
        grid-template-areas:     
                            "button    button    button    button    button    button"
                            "title    title    title    title    title    title"             
                            "info    info    info    info    info    info"             
                            "info    info    info    info    info    info"             
                            "info    info    info    info    info    info"             
                            "footer  footer  footer  footer  footer  footer";      
    }
    .menu-container{
        display: block;
    }
    .nav-menu{
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        .list-container{
            width: 100%;
            height: 100%;
            background-color: rgb(2, 2, 2,0.7);

            ul{
                width: 50%;
                height: 100%;
                display: flex;
                padding: 40px 12px;
                flex-direction: column;
                 li{
                   height: 40px;
                 }
                 li:active{
                    background-color: var(--color--oscuro);
                 }
            }
        }
        
    }
    .footer-container{
        flex-direction: column;
        padding: 12px;
        gap: 4px;
    }
  }


