:root {
  --color--principal: #c00000;
  --color--secundario: #810909;
  --color--fondo: #fffcffcd;
  --color--oscuro: #020202;
  --color--claro: #fffcff;
  --fuente-texto: 20px;
  --fuente-texto-pequenio: 10px;
  --fuente-titulo: 40px;
  --fuente-sub-titulo: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color--claro);
}

#footerComponent {
  margin-top: auto;
}

#DescargarApp {
  position: fixed;
  bottom: 15%;
  left: 2%;
  z-index: 1000;
}

#pedidosCLiente {
  /* margin-top: 120px; */
}

#nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

}

#ZonaPago {
  margin-top: 80px;

}


#productos-container {
  display: block;
}

#button-cart {
  position: absolute;
  background: none;
  right: 10px;
  border: none;
  width: 56px;
  height: 36px;
}

#button-cart img {
  width: 56px;
}